body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.contaiber{
    width: 100%;
    margin: 0;
    padding: 0;
}

*{
    border: 1px solid red;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    /* box-shadow: 0px 5px 5px gray; */
}

.nav img{
    width: 80px;
    height: 80px;
    margin: 12px;
}

.nav ul{
    list-style-type: none;
    display: flex;
    text-align: left;
    gap: 18px;
    /* margin-right: 50px; */
}

.nav a{
    text-decoration: none;
    color: black;
}

.intro{
    height: fit-content;
    width: 100;
}

.course-container{
    display: flex;
    justify-content: space-between;
}

h1{
    text-align: center;
    color: #a020f0;
}

.person-1{
    display: flex;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 12px;
}
footer img{
    width: 50px;
    height: 50px;
    margin: 12px;
}

@media only screen and (max-width: 960px) {
    .course-container{
        display: block;
    }

    .testimonials{
        display: block;
    }
}
